@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.product {
    margin: 0 20px 20px;
    background: lightgrey;
    padding: 50px;
    display: grid;
    place-items: center;
    border-radius: 5px;
}

.rating {
    margin-top: 15px;
}

.outer {
    background-image: url(../img/star-outer.svg);
    height: 55px;
    width: 275px;
}

.inner {
    background-image: url(../img/star-inner.svg);
    height: 55px;
    width: 275px;
}